.myButton {
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    background-color: red;
    color: white;
    display: inline;
    margin: auto;
}

.newDice {
    height: 100px;
    width: 150px;
    background-color: black;
    margin: 3px;
    float: left;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

